/******************公共***************************/
.clearfix:after{
    content: '';
    display: block;
    clear: both;
}
.w{
    margin: auto;
    width: 1190px;
}
#index{
    background-color: #f0f3ef;
}
/*字体图标*/
@font-face {
    font-family: 'iconfont';
    src: url('../img/font-icon/iconfont.eot');
    src: url('../img/font-icon/iconfont.eot?#iefix') format('embedded-opentype'),
    url('../img/font-icon/iconfont.woff') format('woff'),
    url('../img/font-icon/iconfont.ttf') format('truetype'),
    url('../img/font-icon/iconfont.svg#iconfont') format('svg');
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
/*左右箭头*/
@font-face{
    font-family: 'iconfont-jiantou-lr';
    src: url('../img/font-icon/iconfont_jiantou_lr.eot');
    src: url('../img/font-icon/iconfont_jiantou_lr.eot?#iefix') format('embedded-opentype'),
    url('../img/font-icon/iconfont_jiantou_lr.woff') format('woff'),
    url('../img/font-icon/iconfont_jiantou_lr.ttf') format('truetype'),
    url('../img/font-icon/iconfont_jiantou_lr.svg#iconfont') format('svg');
}
.iconfont_jiantou_lr{
    font-family:"iconfont-jiantou-lr" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
/******************快捷连接***************************/
#shortcut{
    background-color: #e3e4e5;
}
#shortcut .shortcut_w{
    border-bottom: 1px solid #ddd;
    background-color: #e3e4e5;
}
#shortcut span:hover{
    cursor: pointer;
    color: #e33333;;
}
#shortcut .w{
    height: 30px;
    line-height: 30px;
    color: #999;;
}
#shortcut .fl{
    float: left;
}
#shortcut .fl li{
    position: relative;
}
#shortcut .fl .position{
    position: relative;
    margin-left: 200px;
    padding-right: 5px;
    height: 28px;
    line-height: 28px;
    border: 1px solid #e3e4e5;
}
#shortcut .fl .position.dropdown{
    height: 30px;
    z-index: 4;
    background: #fff;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: none;
}
#shortcut .fl .all-position{
    display: none;
    position: absolute;
    width: 300px;
    left: 200px;
    top: 30px;
    border: 1px solid #ccc;
    background: #fff;
    z-index: 3;
}
#shortcut .fl .all-position li{
    float: left;
    padding: 5px 0;
    width: 60px;
    text-align: center;
}
#shortcut .fl .all-position li span{
    display: inline-block;
    padding: 2px 5px;
}
#shortcut .fl .all-position li span:hover{
    background-color: #f4f4f4;
}
#shortcut .fl i{
    position: relative;
    left: 0;
    top: 2px;
    color: #f10215;
}
#shortcut .fr{
    float: right;
}
#shortcut .fr li{
    float: left;
}
#shortcut .fr .fore{
    position: relative;
    padding-left: 7px;
    padding-right: 7px;
    line-height: 30px;
}
#shortcut .fr li:nth-child(1){
    padding-left: 0;
}
#shortcut .fr .fore .dropdown_btn{
    display: inline-block;
    position: relative;
    padding-left: 5px;
    margin-left: -5px;
    height: 28px;
    width: 68px;
    line-height: 28px;
    border: 1px solid #e3e4e5;
}
#shortcut .fr .fore .dropdown_btn i{
    position: absolute;
    top: 3px;
    right: 0px;
    display: inline-block;
}
#shortcut .fr .spacer{
    overflow: hidden;
    margin: 11px 5px 0;
    width: 1px;
    height: 10px;
    background-color: #ccc;
}
#shortcut .fr .fore3 .myjd_btn.dropdown{
    background-color: #fff;
    border: 1px solid #ccc;
    border-bottom: none;
    height: 30px;
    z-index: 3;
}
#shortcut .fr .fore3 .myjd_layout{
    display: none;
    position: absolute;
    padding-top: 10px;
    padding-bottom: 10px;
    top: 30px;
    left: 2px;
    width: 267px;
    border: 1px solid #ccc;
    background: #fff;
    z-index: 4;
}
#shortcut .fr .fore3 .myjd_layout .top{
    padding-left: 15px;
    height: 74px;
    border-bottom:  1px solid #f1f1f1;
}
#shortcut .fr .fore3 .myjd_layout .bottom{
    padding-left: 15px;
    padding-top: 10px;
}
#shortcut .fr .fore3 .myjd_layout .top li,
#shortcut .fr .fore3 .myjd_layout .bottom li{
    float: left;
    padding-bottom: 5px;
    width: 126px;
}
#shortcut .fr .fore6 .service_btn.dropdown{
    background-color: #fff;
    border: 1px solid #ccc;
    border-bottom: none;
    height: 30px;
    z-index: 3;
}
#shortcut .fr .fore6 .service_layout{
    display: none;
    position: absolute;
    top: 30px;
    right: 7px;
    width: 170px;
    padding: 10px 0 10px 17px;
    border: 1px solid #ccc;
    background: #fff;
    z-index: 4;
}
#shortcut .fr .fore6 .service_layout .client{
    height: 120px;
    margin-bottom: 10px;
}
#shortcut .fr .fore6 .service_layout .client .client_title,
#shortcut .fr .fore6 .service_layout .commercial .commercial_title{
    height: 24px;
    font-weight: 700;
    line-height: 24px;
    color: #666;
}
#shortcut .fr .fore6 .service_layout .client li,
#shortcut .fr .fore6 .service_layout .commercial li{
    float: left;
    padding: 3px 0;
    width: 85px;
}
/******************hearder***************************/
#header,
#header .header-w{
    position: relative;
    background-color: #f0f3ef;
}
#header .logo-wrap{
    position: absolute;
    float: left;
    left: 0;
    top: -31px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
}
#header .head-r{
    float: left;
    margin-left: 190px;
}
#header .head-r .head_r_top{
    padding-top: 25px;
    padding-left: 130px;
}
#header .search_mycar_wrap{
    margin-bottom: 5px;
}
#header .search_mycar_wrap .searchinput_wrap{
    position: relative;
    float: left;
    background-color: #fff;
}
#header .search_mycar_wrap .searchinput_wrap input{
    outline: none;
    border: none;
    padding: 4px;
    width: 490px;
    height: 25px;
    line-height: 25px;
    font-family: Microsoft YaHei,tahoma,arial,Hiragino Sans GB,\\5b8b\4f53,sans-serif;
    font-size: 14px;
    border: 1px solid transparent;
}
#header .search_mycar_wrap .searchinput_wrap input::-webkit-input-placeholder,
#header .search_mycar_wrap .searchinput_wrap input:-moz-placeholder,
#header .search_mycar_wrap .searchinput_wrap input::-moz-placeholder,
#header .search_mycar_wrap .searchinput_wrap input:-ms-input-placeholder{ /* WebKit, Blink, Edge */
    font-family: Microsoft YaHei,tahoma,arial,Hiragino Sans GB,\\5b8b\4f53,sans-serif;
    font-size: 14px;
    color: rgb(153, 153, 153);
}
#header .search_mycar_wrap .searchinput_wrap span{
    display: inline-block;
    width: 19px;
    height: 15px;
    position: absolute;
    top: 10px;
    right: 8px;
    background: url("../img/image/sprite-photo-search.png") no-repeat;
    cursor: pointer;
}
#header .search_mycar_wrap .searchinput_wrap span:hover{
    background-position: -30px 0;
}
#header .search_mycar_wrap .search_wrap{
    float: left;
}
#header .search_mycar_wrap .search_btn{
    outline: none;
    border: none;
    float: left;
    display: inline-block;
    height: 35px;
    width: 50px;
    line-height: 35px;
    background-color: #f10215;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
}
#header .search_mycar_wrap .mycar_wrap{
    position: relative;
    float: left;
    margin-left: 35px;
    width: 188px;
    height: 33px;
    background-color: #fff;
    text-align: center;
    line-height: 33px;
}
#header .search_mycar_wrap .mycar_wrap .mycar_icon,
#header .search_mycar_wrap .mycar_wrap span{
    color: #f10214;
}
#header .search_mycar_wrap .mycar_wrap .mycar_num{
    display: inline-block;
    position: absolute;
    top: 4px;
    right: 32px;
    width: 14px;
    height: 15px;
    line-height: 15px;
    background: #f10214;
    color: #fff;
    border-radius: 47%;
}
#header .search_hot{
    width: 550px;
    height: 20px;
    line-height: 20px;
}
#header .search_hot li{
    float: left;
    margin-right: 10px;
    white-space: nowrap;
    color: #999;
}
#header .search_hot .style-red{
    color: #f10215;
}
#header .header_title_list ul{
    float: left;
    padding-left: 10px;
    margin-top: 15px;
}
#header .header_title_list li{
    margin-left: 30px;
    float: left;
    height: 40px;
    line-height: 40px;
}
#header .header_title_list li span{
    font-size: 14px;
    color: #333;
    font-weight: 700;
}
#header .header_title_list .spacer{
    display: inline-block;
    margin-left: 15px;
    margin-right: -15px;
    width: 1px;
    height: 10px;
    background-color: #ccc;
}
#header .header_title_list .header_ad{
    float: left;
    padding-left: 50px;
}
/******************fs***************************/
/*菜单*/
#fs{
    margin-bottom: 30px;
    position: relative;
    background: #f0f3ef;
}
#fs .fs-bg{
    position: absolute;
    width: 100%;
    left: 0px;
    top: 0px;
}
#fs .fs-bg #J_fs_act_lk{
    display: block;
    margin-top: 10px;
    height: 480px;
    background: url("../img/image/5a65c95eN829e61a3.png") no-repeat 50% 0;
}
#fs .fs_inner{
    position: relative;
    margin: 0 auto;
    height: 480px;
    background-color: #f0f3ef;
    z-index: 1;
}
#fs .fs_inner .fs_list{
    position: relative;
    float: left;
    margin-right: 10px;
    padding: 15px 0;
    width: 190px;
    height: 450px;
    background: #fff;
}
#fs .fs_inner .fs_list .fs_list_title li{
    padding-left: 18px;
    height: 28px;
    line-height: 28px;
    z-index: 3;
}
#fs .fs_inner .fs_list .fs_list_title li.hover{
    background-color: #d9d9d9;
}
#fs .fs_inner .fs_list .fs_list_title li,
#fs .fs_inner .fs_list .fs_list_title li span{
    font-size: 14px;
    color: #636363;
}
#fs .fs_inner .fs_list .fs_list_title li span:hover{
    cursor: pointer;
    color: #e33333;;
}
#fs #fs_list_layout_item{
    display: none;
    position: absolute;
    left: 185px;
    top: 0;
    width: 985px;
    min-height: 478px;
    background-color: #f7f7f7;
    z-index: 3;
}
#fs #fs_list_layout_item .list_layout_item{
    display: none;
    padding: 20px 0 10px 20px;
    min-height: 478px;
    border: 1px solid #f7f7f7;
    box-shadow: 2px 0 5px rgba(0,0,0,.3);
    z-index: 3;
}
#fs_list_layout_item .list_main{
    margin-bottom: 10px;
}
#fs_list_layout_item .list_main li{
    float: left;
    margin-right: 10px;
    padding: 0 10px;
    height: 24px;
    background-color: #333;
    line-height: 24px;
    color: #fff!important;
}
#fs_list_layout_item .list_layout_title{
    float: left;
}
#fs_list_layout_item .list_layout_title_item .dd{
    float: left;
    padding: 6px 0;
    display: inline-block;
    width: 70px;
    text-align: right;
    font-weight: 700;
}
#fs_list_layout_item  .list_layout_title_item ul{
    float: left;
    padding: 6px 0;
    width: 675px;
    border-top: 1px solid #eee;
}
#fs_list_layout_item  .list_layout_title_item li{
    float: left;
    margin-left: 10px;
    height: 24px;
    line-height: 24px;
    color: #666;
}
#fs_list_layout_item  .list_layout_title_item .spacer{
    display: inline-block;
    width: 1px;
    height: 10px;
    background-color: #ccc;
}
#fs_list_layout_item .list_layout_ad{
    float: right;
    width: 198px;
}
#fs_list_layout_item .list_layout_ad .min_ad{
    margin-bottom: 10px;
    width: 168px;
}
#fs_list_layout_item .list_layout_ad .min_ad a{
    display: inline-block;
    float: left;
    width: 83px;
    height: 35px;
    margin: 0 0 1px 1px;
    background-color: #e7e7e7;
}
#fs_list_layout_item .list_layout_ad .min_ad a img{
    width: 83px;
    height: 35px;
}
#fs_list_layout_item .max_ad_f{
    display: inline-block;
    margin-bottom: 3px;
}
/*轮播*/
#fs .slide_wrap{
    position: relative;
    float: left;
    margin-right: 10px;
    width: 590px;
    height: 480px;
}
#fs .slide_wrap .slide_list{
    margin-top: 10px;
    width: 590px;
    height: 470px;
    overflow: hidden;
}
#fs .slide_img{
    position: relative;
    width: 5900px;
    height: 470px;
    transform: translate3d(0px, 0px, 0px);
    transition: none;
}
#fs .slide_img li{
    position: absolute;
    float: left;
    opacity: 0;
    -webkit-transition: opacity .5s;
    -o-transition: opacity .5s;
    -moz-transition: opacity .5s;
    transition: opacity .5s;
}
#fs .slide_img .slide_img_active{
    opacity: 1;
    -webkit-transition: opacity 500ms ease-in-out;
    -o-transition: opacity 500ms ease-in-out;
    -moz-transition: opacity 500ms ease-in-out;
    transition: opacity 500ms ease-in-out;
}
#fs .slide_img li a{
    display: block;
}
#fs .slide_wrap .slide_lr_button{
    position: absolute;
    padding-top: 2px;
    border: none;
    outline: none;
    top: 50%;
    transform: translate(-50%,0);
    z-index: 2;
    width: 24px;
    height: 40px;
    background-color: rgba(0,0,0,.2);
    color: #fff;
    color: hsla(0,0%,100%,.4);
    line-height: 40px;
    text-align: center;
}
#fs .slide_wrap .slide_lr_button:hover{
    background-color: rgba(0,0,0,.5);
}
#fs .slide_wrap .slide_lr_button i{
    font-size: 20px;
    font-weight: 400;
}
#fs .slide_wrap .slide_left_button{
    left: 0;
    margin-left: 12px;
}
#fs .slide_wrap  .slide_right_button{
    right: 0;
    margin-right: -12px;
}
#fs .slide_indicators{
    position: absolute;
    left: 46px;
    bottom: 10px;
    cursor: default;
}
#fs .slide_indicators .slide_indicators_btn{
    position: relative;
    display: inline-block;
    width: 18px;
    height: 18px;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
#fs .slide_indicators .slide_indicators_btn:after{
    content: "";
    display: block;
    position: absolute;
    left: 4px;
    top: 4px;
    width: 6px;
    height: 6px;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 2px solid #b9beba;
    -webkit-transition: all .2s ease;
    -o-transition: all ease .2s;
    -moz-transition: all ease .2s;
    transition: all .2s ease;
}
#fs .slide_indicators .slide_indicators_btn.slide_indicators_active{
    background: rgba(255,255,255,0.2);
}
#fs .slide_indicators .slide_indicators_btn.slide_indicators_active:after{
    width: 10px;
    height: 10px;
    border: none;
    background: #fff;
}
#fs .slide_indicators .slide_indicators_btn,
#fs .slide_indicators .slide_indicators_btn:after{
    -webkit-transition: background .2s ease;
    -o-transition: background ease .2s;
    -moz-transition: background ease .2s;
    transition: background .2s ease;
}
/*三个ad图*/
#fs .fs_three_ad{
    float: left;
    width: 190px;
    height: 480px;
}
#fs .fs_three_ad li{
    margin-top: 10px;
    width: 190px;
}
#fs .fs_three_ad li:hover {
    cursor: pointer;
    opacity: .85;
}
#fs .fs_three_ad a{
    display: block;
}
/*fs里面最右边一栏*/
#fs .fs_col4{
    margin-top: 10px;
    float: right;
    width: 190px;
    height: 470px;
    /*background: #fff;*/
}
#fs .fs_col4 .user_login{
    height: 160px;
    text-align: center;
    background: #fff;
}
#fs .fs_col4 .user_login .user_img{
    position: relative;
}
#fs .fs_col4 .user_login .user_imgIcon{
    position: absolute;
    display: inline-block;
    top: -14px;
    left: 62px;
    width: 65px;
    height: 65px;
    border-radius: 50%;
}
#fs .fs_col4 .user_login .user_img_wap_bg{
    position: absolute;
    display: inline-block;
    left: 45px;
    top: -30px;
    width: 106px;
    height: 108px;
    background: url("../img/image/sprite.user.png") no-repeat;
    background-position: 0 0;
}
#fs .fs_col4 .user_login .user_login_text{
    padding-top: 70px;
}
#fs .fs_col4 .user_login .user_login_text p{
    overflow: hidden;
    line-height: 20px;
    width: 100%;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    color: #888;
}
#fs .fs_col4 .user_login .user_login_text span{
    padding: 0 5px;
    color:rgb(102, 102, 102);
}
#fs .fs_col4 .user_profit{
    margin-top: 10px;
    height: 25px;
}
#fs .fs_col4 .user_profit a{
    text-decoration: none;
}
#fs .fs_col4 .user_profit a:hover{
    background-color: #e01222;
    color: #fff;
}
#fs .fs_col4 .user_profit .user_profit_lk{
    display: inline-block;
    margin: 0 5px;
    width: 70px;
    height: 25px;
    line-height: 25px;
    font-size: 12px;
    text-align: center;
    color: #e43f3b;
    -moz-border-radius: 13px;
    border-radius: 13px;
    -webkit-box-shadow: 4px 6px 12px 2px rgba(45,45,45,.15);
    -moz-box-shadow: 4px 6px 12px 2px rgba(45,45,45,.15);
    box-shadow: 4px 6px 12px 2px rgba(45,45,45,.15);
    -webkit-transition: background .3s ease,color .3s ease;
    -o-transition: background .3s ease,color .3s ease;
    -moz-transition: background .3s ease,color .3s ease;
    transition: background .3s ease,color .3s ease;
}
#fs .fs_col4 .user_profit .user_profit_lk_plus{
    background: #363634;
    color: #e5d790;
}
#J_news{
    height: 150px;
    background: #fff;
}
#J_news .mod_tab_head {
    padding: 17px 0 0;
    position: relative;
    line-height: 14px;
}
#J_news .mod_tab_head a{
    text-decoration: none;
    font-size: 12px;
    color: #666;
}
#J_news .mod_tab_head_item{
    padding-right: 15px;
    padding-left: 15px;
    border-right: 1px solid #dfe0e1;
    color: #333;
}
#J_news .mod_tab_head_lastitem{
    border-right: none;
}
#J_news .mod_tab_head .news_tab_active{
    position: absolute;
    bottom: -4px;
    left: 1px;
    margin-left: 13px;
    width: 27px;
    height: 2px;
    background: #db192b;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: -webkit-transform .3s ease;
    transition: -webkit-transform .3s ease;
    -o-transition: transform .3s ease;
    -moz-transition: transform .3s ease,-moz-transform .3s ease;
    transition: transform .3s ease;
    transition: transform .3s ease,-webkit-transform .3s ease,-moz-transform .3s ease;
}
#J_news .mod_tab_head_moreitem{
    float: right;
    position: absolute;
    right: 12px;
    top: 18px;
    font-size: 12px;
    cursor: pointer;
}
#J_news .mod_tab_head_moreitem:hover{
    color: #c81623;
}
#J_news .news_tab_active{
    position: absolute;
}
#J_news .mod_tab_content{
    padding-top: 12px;
    padding-bottom: 15px;
    margin: 0 15px;
    height: 88px;
    border-bottom: 1px solid #dfe0e1;
}
#J_news .mod_tab_content .mod_tab_content_item{
    display: none;
    height: 100%;
}
#J_news .mod_tab_content .mod_tab_content_item_on{
    display: block;
}
#J_news .news_item{
    line-height: 22px;
    max-width: 160px;
    _width: 160px;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: pointer;
    color: #666;
}
#J_news .news_item:hover{
    color: #c81623;
}
#J_service{
    background: #fff;
}
#J_service .service_entry{
    padding: 10px 15px 15px;
    height: 135px;
}
#J_service .service_entry ul{
    height: 135px;
}
#J_service .service_item{
    float: left;
    position: relative;
    width: 40px;
    height: 45px;
    text-align: center;
}
#J_service .service_item .service_icon{
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url("../img/image/sprite.service@2x.png") no-repeat;
    background-size: 103px 77px;
}
#J_service .service_item .service_item_content_wrap{
    position: relative;
    height: 28px;
    overflow: hidden;
}
#J_service .service_item .service_item_content_wrap:hover .service_item_content{
    top: -24px;
}
#J_service .service_item .service_item_content{
    position: absolute;
    top: 0;
    left: 50%;
    width: 40px;
    -webkit-transform: translate( -50%,0);
    -moz-transform: translate( -50%,0);
    -ms-transform: translate( -50%,0);
    -o-transform: translate( -50%,0);
    transform: translate( -50%,0);
    transition: all .2s linear;
    cursor: pointer;
}
#J_service .service_item .service_text{
    background: #bea68d;
    color: #fff;
    height: 20px;
    line-height: 20px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    cursor: pointer;
}
#J_service .service_item .service_ico_huafei{
    background-position: -26px 2px;
}
#J_service .service_item .service_ico_jipiao{
    background-position: 0 -52px;
}
#J_service .service_item  .service_ico_youxi{
    background-position: -26px -24px;
}
#J_service .service_item .service_ico_qyg{
    background-position: -52px 2px;
}
#J_service .service_item .service_ico_jiayou{
    background-position: -54px -26px;
}
#J_service .service_item .service_ico_dianying{
    background-position: 0 -26px;
}
#J_service .service_item .service_ico_huoche{
    background-position: -26px -52px;
}
#J_service .service_item .service_ico_zhongchou{
    background-position: -50px -52px;
}
#J_service .service_item .service_ico_licai{
    background-position: -78px 2px;
}
#J_service .service_item .service_ico_lipin{
    background-position: -78px -25px;
}
#J_service .service_item .service_ico_baitiao{
    background-position: -78px -52px;
}
/******************京东秒杀***************************/
.sk{
    height: 275px;
    margin-bottom: 30px;
}
.sk_inner{
    margin: 0 auto;
    width: 1190px;
}
.sk_hd{
    float: left;
    width: 190px;
    height: 275px;
    background: #e83632;
    color: #fff;
}
.sk_hd p{
    text-align: center;
}
.sk_tit{
    margin-top: 42px;
    font-size: 34px;
}
.sk_subtit{
    color: rgba(255, 255, 255, 0.5);
    font-size: 20px;
}
.sk_ico{
    display: inline-block;
    margin: 5px 0;
    width: 20px;
    height: 33px;
    background-image: url("../img/image/sprite.seckill.png");
    background-position: -35px -25px;
}
.sk_desc{
    margin-bottom: 20px;
    font-size: 16px;
}
.sk_cd{
    margin: 0 auto;
    height: 40px;
    width: 130px;
}
.cd_item{
    float: left;
    width: 40px;
    height: 40px;
    text-align: center;
    background-color: #2f3430;
    margin-right: 5px;
}
.cd_item:nth-child(3){
    margin-right: 0;
}
.cd_item .cd_item_txt{
    line-height: 40px;
    font-weight: bold;
    font-size: 20px;
}
#J_seckill .sk_list{
    position: relative;
    float: left;
    width: 800px;
    height: 275px;
    overflow: hidden;
}
#J_seckill .slider_wrapper{
    position: absolute;
    height: 275px;
    width: 5600px;
    left: -800px;
}
#J_seckill .slider_item{
    position: relative;
    float: left;
    width: 200px;
    height: 275px;
    background: #fff;
}
#J_seckill .slider_item:after{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 1px;
    height: 275px;
    background: #f0f0f0;
}
#J_seckill .sk_item_img{
    padding-top: 40px;
}
#J_seckill .sk_item_lk{
    text-decoration: none;
    position: relative;
    display: block;
    width: 190px;
    height: 275px;
    text-align: center;
    margin: auto;
    color: #666;
}
#J_seckill .sk_item_name{
    width: 160px;
    padding: 0 15px;
    line-height: 30px;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
#J_seckill .sk_item_price{
    position: absolute;
    margin-left: 13px;
    margin-top: 10px;
    width: 160px;
    height: 20px;
    padding: 1px;
    background: #e6382f;
    line-height: 20px;
}
#J_seckill .sk_item_price .sk_item_price_new{
    float: left;
    width: 80px;
    height: 20px;
    text-align: center;
    color: #fff;
    font-size: 14px !important;
    font-weight: bold !important;
}
#J_seckill .sk_item_price .sk_item_price_origin{
    float: left;
    width: 80px;
    height: 20px;
    background: #fff;
    text-align: center;
    color: #b7bcb8;
    font-size: 12px;
    text-decoration: line-through;
}
#J_seckill .slider_control{
    position: absolute;
    top: 50%;
    -moz-border-radius: 0;
    border-radius: 0;
    width: 20px;
    height: 40px;
    line-height: 40px;
    background-color: #d9d9d9;
    background-color: rgba(0,0,0,.15);
    margin-top: -20px;
    font-size: 20px;
    z-index: 2;
    border: none;
    outline: none;
    -webkit-transition: background-color .2s ease;
    -o-transition: background-color ease .2s;
    -moz-transition: background-color ease .2s;
    transition: background-color .2s ease;
}
#J_seckill .slider_control:hover{
    background-color: rgba(0,0,0,.4);
}
#J_seckill .slider_control i {
    color: #fff;
    color: hsla(0,0%,100%,.4);
    -webkit-transition: color .2s ease;
    -o-transition: color ease .2s;
    -moz-transition: color ease .2s;
    transition: color .2s ease;
}
#J_seckill .slider_control_next{
    right: 0;
}
#J_seckill .sk_chn{
    padding: 8px 10px 7px;
    float: left;
    width: 180px;
    height: 260px;
    background-color: #ffffff;
}
#J_seckill .sk_chn .sk_chn_inner{
    position: relative;
    width: 180px;
    height: 260px;
    overflow: hidden;
}
#J_seckill .sk_chn .sk_chn_slideWrap{
    position: absolute;
    width: 540px;
    font-size: 0;
}
.sk_chn .sk_chn_slideWrap a{
    display: inline-block;
    width: 180px;
}
.sk_chn .sk_chn_slideWrap  .sk_chn_img{
    width: 180px;
}
.slider_indicators{
    position: absolute;
    left: 50%;
    bottom: 10px;
    font-size: 0;
    text-align: center;
}
.slider_indicators .slider_indicators_btn{
    display: inline-block;
    bottom: 0;
    width: 6px;
    height: 6px;
    background: #e33333;
    border-radius: 50%;
    z-index: 2;
}


    /*===========全局样式===========*/
.style-red{
    color: #f10215;
}
.bg-style-red{
    background-color: #f10215!important;
    color: #fff!important;
}









